FEweb/Service References/WSMail/WSMail.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="EnvioMail" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="EnvioMail" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="EnvioMail">
      <s:element name="EnvioMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mailTO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnvioMailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnvioMailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EnvioMailSoapIn">
    <wsdl:part name="parameters" element="tns:EnvioMail" />
  </wsdl:message>
  <wsdl:message name="EnvioMailSoapOut">
    <wsdl:part name="parameters" element="tns:EnvioMailResponse" />
  </wsdl:message>
  <wsdl:portType name="WSMailSoap">
    <wsdl:operation name="EnvioMail">
      <wsdl:input message="tns:EnvioMailSoapIn" />
      <wsdl:output message="tns:EnvioMailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSMailSoap" type="tns:WSMailSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnvioMail">
      <soap:operation soapAction="EnvioMail/EnvioMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSMailSoap12" type="tns:WSMailSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnvioMail">
      <soap12:operation soapAction="EnvioMail/EnvioMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSMail">
    <wsdl:port name="WSMailSoap" binding="tns:WSMailSoap">
      <soap:address location="http://192.168.2.112:8091/WSMail.asmx" />
    </wsdl:port>
    <wsdl:port name="WSMailSoap12" binding="tns:WSMailSoap12">
      <soap12:address location="http://192.168.2.112:8091/WSMail.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>