FEweb/Service References/WSGoogle/WSGoogle1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="AccesoGoogle" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="AccesoGoogle" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="AccesoGoogle">
      <s:element name="TraducirTexto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="languagePair" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraducirTextoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraducirTextoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConvertirValor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="languagePair" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConvertirValorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConvertirValorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarValor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="moneda" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarValorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecuperarValorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TraducirTextoSoapIn">
    <wsdl:part name="parameters" element="tns:TraducirTexto" />
  </wsdl:message>
  <wsdl:message name="TraducirTextoSoapOut">
    <wsdl:part name="parameters" element="tns:TraducirTextoResponse" />
  </wsdl:message>
  <wsdl:message name="ConvertirValorSoapIn">
    <wsdl:part name="parameters" element="tns:ConvertirValor" />
  </wsdl:message>
  <wsdl:message name="ConvertirValorSoapOut">
    <wsdl:part name="parameters" element="tns:ConvertirValorResponse" />
  </wsdl:message>
  <wsdl:message name="RecuperarValorSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperarValor" />
  </wsdl:message>
  <wsdl:message name="RecuperarValorSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperarValorResponse" />
  </wsdl:message>
  <wsdl:portType name="WSGoogleSoap">
    <wsdl:operation name="TraducirTexto">
      <wsdl:input message="tns:TraducirTextoSoapIn" />
      <wsdl:output message="tns:TraducirTextoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConvertirValor">
      <wsdl:input message="tns:ConvertirValorSoapIn" />
      <wsdl:output message="tns:ConvertirValorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarValor">
      <wsdl:input message="tns:RecuperarValorSoapIn" />
      <wsdl:output message="tns:RecuperarValorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSGoogleSoap" type="tns:WSGoogleSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TraducirTexto">
      <soap:operation soapAction="AccesoGoogle/TraducirTexto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertirValor">
      <soap:operation soapAction="AccesoGoogle/ConvertirValor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarValor">
      <soap:operation soapAction="AccesoGoogle/RecuperarValor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSGoogleSoap12" type="tns:WSGoogleSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TraducirTexto">
      <soap12:operation soapAction="AccesoGoogle/TraducirTexto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertirValor">
      <soap12:operation soapAction="AccesoGoogle/ConvertirValor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarValor">
      <soap12:operation soapAction="AccesoGoogle/RecuperarValor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSGoogle">
    <wsdl:port name="WSGoogleSoap" binding="tns:WSGoogleSoap">
      <soap:address location="http://localhost:56679/WSGoogle.asmx" />
    </wsdl:port>
    <wsdl:port name="WSGoogleSoap12" binding="tns:WSGoogleSoap12">
      <soap12:address location="http://localhost:56679/WSGoogle.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>